.modal {
  &__button {
    &--details {
      width: auto;

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    &--x {
      font-size: 2rem !important;
    }
  }

  &__col {
    &--breakdown {
      @media (max-width: 450px) {
        h3,
        h4,
        p {
          font-size: 110% !important;
        }
      }
    }
  }

  &__rental {
    &--details {
      max-height: 0;
      opacity: 0;
      transition: max-height 0.3s ease-out, opacity 1s ease-out;

      &.show {
        opacity: 1;
      }
    }
  }
  &__error--message {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out,
      margin 0.3s ease-out;

    &.show {
      max-height: 100px; // Adjust this value based on your content
      opacity: 1;
      margin-top: 1rem;
    }
  }
}
