.modal {
  &__button {
    &--details {
      width: auto;

      @media (max-width: 991px) {
        width: 100%;
      }

      &:hover {
        background-color: $secondary !important;
      }
    }

    &--x {
      font-size: 2rem !important;
    }

    &--cancel,
    &--back {
      &:hover,
      &:hover {
        color: white !important;
      }
    }

    &--continue,
    &--confirm {
      &:hover,
      &:hover {
        background-color: $secondary !important;
      }
    }
  }

  &__col {
    &--breakdown {
      @media (max-width: 450px) {
        h3,
        h4,
        p {
          font-size: 110% !important;
        }
      }
    }
  }

  &__rental {
    &--details {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out, opacity 0.8s ease-out;

      &.show {
        display: block;
        opacity: 1;
      }

      &.visible {
        max-height: 150rem;
      }

      &.animating {
        transition: max-height 0.5s ease-out, opacity 0.8s ease-out;
      }
    }
  }

  &__error--message {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out,
      margin 0.5s ease-out;

    &.show {
      max-height: 10rem;
      opacity: 1;
      margin-top: 1rem;
    }
  }
}
