.modal {
  &__button {
    &--details {
      width: auto;

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    &--x {
      font-size: 2rem !important;
    }
  }

  &__col {
    &--breakdown {
      @media (max-width: 450px) {
        h3,
        h4,
        p {
          font-size: 110% !important;
        }
      }
    }
  }
}

.modal__rental--details {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.8s ease-out;
}

.modal__rental--details.show {
  opacity: 1;
}
