// .booking__section {
//   background-color: $darker-light;
// }

.booking__content {
  box-shadow: 0 20px 10px rgba(black, 0.3);
}

.booking__btn--book-ride {
  padding: 9px 10px !important;
  box-shadow: 0 4px 5px rgba($primary, 0.8);
  transition: all 0.3s !important;
}

.booking__btn--book-ride:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 5px rgba($primary, 0.8);
}
