// Buttons
.hero__btn--learn-more,
.hero__btn--book-ride {
  transition: all 0.3s !important;
}

.hero__btn--learn-more:hover {
  box-shadow: 0 4px 5px rgba($secondary, 0.8);
  transform: translateY(-4px);
}

.hero__btn--book-ride:hover {
  box-shadow: 0 4px 5px rgba($primary, 0.8);
  transform: translateY(-4px);
}

//  Background Image
#hero__container {
  position: relative;
  height: 100vh;
}

.image__container {
  position: relative;
}

.background__img {
  position: absolute;
  top: -400px;
  right: -120px;
  z-index: 1;
}

.car__img {
  position: relative;
  z-index: 999;
}

@media (max-width: 1399px) {
  #hero__container .background__img {
    transform: scale(0.8);
    top: -405px;
    right: -170px;
  }
}
