.cards {
  // background-color: $light-darker;
  &__card {
    width: 35rem;
    height: 35rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    transition: all 0.3s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
}
