.download {
  &__col {
    &--left {
      & button {
        min-width: 19.7rem !important;
        transition: all 0.3s !important;

        &:hover {
          box-shadow: 0 4px 5px rgba($secondary, 0.8);
          transform: translateY(-4px);
        }

        &:last-of-type:hover {
          background-color: transparent !important;
        }
      }
    }
    &--right {
      & img {
        width: 85% !important;
        max-width: 50rem;
      }
    }
  }
}
