.download {
  &__col {
    &--left {
      & button {
        min-width: 19.7rem !important;
      }

      @media (max-width: 468px) {
        button:first-child {
        }
      }
    }
    &--right {
      & img {
        width: 85% !important;
        max-width: 50rem;
      }
    }
  }
}
