.testimonials {
  background-color: $light-darker;

  &__customer {
    & img {
      width: 7rem;
      height: 7rem;

      @media (max-width: 767px) {
        width: 6rem;
        height: 6rem;
      }
    }

    &--text {
      & p {
        color: darken($light-darker, 30%);
      }
    }
  }
}

// Bootstrap carousel
// & indicators
.carousel-indicators {
  & [data-bs-target] {
    border-radius: 50%;
  }
  & .active {
    background-color: $secondary !important;
  }
}

// & Next and Previous buttons
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: $light !important;
  border-radius: 50%;
  background-size: 80% 80% !important;

  @media (max-width: 575px) {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }
}

// Carousel button position on smaller screens
.carousel-control {
  &-prev {
    @media (max-width: 767px) {
      justify-content: flex-start !important;
    }
  }
  &-next {
    @media (max-width: 767px) {
      justify-content: flex-end !important;
    }
  }
}
