// Button hover
.car__models {
  & button:hover {
    background-color: $secondary;
  }

  // Media queries for the positioning of the vehicle select buttons
  &--select button {
    @media (max-width: 1399px) {
      flex: 0 0 25% !important;
    }

    @media (max-width: 1199px) {
      flex: 0 0 33.3333% !important;
    }

    @media (max-width: 991px) {
      flex: 0 0 auto !important;
    }
  }

  &--table {
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
}

// Vehicle model table layout
.table__container {
  & table {
    border: 2px solid $primary;
    min-width: 34.8rem !important;
  }

  & th {
    background-color: $primary !important;
    color: $light !important;
    font-weight: 600 !important;

    & span {
      font-weight: 300 !important;
    }
  }

  & th,
  & td {
    border: 2px solid $primary !important;
    padding: 0.75rem 2.25rem !important;
  }
}

// Vehicle image
.car__image--container {
  width: 60rem;

  @media (max-width: 991px) {
    width: auto;
    max-width: 55rem;
  }

  & img {
    width: 100%;
  }
}
