// Font
$font-family-sans-serif: "Poppins", sans-serif;

// Colors
$primary: #00246b;
$secondary: #0abf53;
// $succes:
// $info:
// $warning:
// $danger:
$light: #f8f8f8;
$dark: #01112b;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
