$prefix: "" !default;
// Font
$font-family-sans-serif: "Poppins", sans-serif;

// Colors
$primary: #00246b;
$secondary: #0abf53;
// $succes:
// $info:
// $warning:
// $danger:
$light: #f8f8f8;
$dark: #01112b;
/////////////////////////
$light-darker: #e0e0e0;
$dark-darker: #010814;

// Navbar
$navbar-light-color: $dark;
$navbar-light-hover-color: $secondary;
$link-color: $dark;
$link-hover-color: $secondary;

// Navbar Hamburger
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-focus-width: 0;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

// Buttons
$button-padding-x: 15px;
$button-padding-y: 10px;

$btn-padding-x: $button-padding-x;
$btn-padding-x-sm: $button-padding-x * 0.75;
$btn-padding-x-lg: $button-padding-x * 1.5;

$btn-padding-y: $button-padding-y;
$btn-padding-y-sm: $button-padding-y * 0.75;
$btn-padding-y-lg: $button-padding-y * 1.5;

// Spacers
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 8,
  8: $spacer * 12,
  9: $spacer * 16,
  10: $spacer * 20,
) !default;

// Carousel slider
$carousel-control-color: $primary;
$carousel-control-width: 15%;
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 1;
$carousel-control-transition: opacity 0.15s ease;

$carousel-indicator-width: 15px;
$carousel-indicator-height: 15px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 5px;
$carousel-indicator-opacity: 0.6;
$carousel-indicator-active-bg: $primary;
$carousel-indicator-active-opacity: 1;
$carousel-indicator-transition: opacity 0.6s ease;

$carousel-control-icon-width: 5rem;

// Accordion
$accordion-padding-y: 2rem;
$accordion-padding-x: 2.5rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
