@import "custom.scss";
@import "./assets/components/Nav.scss";
@import "./assets/components/Hero.scss";
@import "./assets/components/Booking.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  // --color-primary: #00246b;
  // --color-secondary: #0abf53;
  // --color-primary-dark: #01112b;
  // --color-white-grey: #f8f8f8;
  // --color-white: #fff;
  // --color-black: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  position: relative;
}
