@import "custom.scss";
@import "./components/Nav.scss";
@import "./components/Hero.scss";
@import "./components/Booking.scss";
@import "./components/Cards.scss";
@import "./components/Vehicles.scss";
@import "./components/WhyChooseUs.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}
